<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><%= "Hi there #{@user} "%></a>
        </div> 
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Kids Place</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

<div class="row">
  <h1>What Do You Want To Do?</h1>
</div>



<div><!-- Starts the Tabs area -->
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Kids</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Lists</a></li>
    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Items</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-lg-offset-3 col-md-offset-3">
          <form>
            <div class="form-group form-group-lg">
              <label for="exampleInputEmail1">Add a Kid</label>
              <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter Your Kid's Name Here">
            </div>
            <button type="submit" class="btn btn-default">Ok Add My Kid</button>
          </form>
      </div>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="profile">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-lg-offset-3 col-md-offset-3">
          <form>
            <div class="form-group form-group-lg">
              <label for="exampleInputEmail1">Make a List</label>
              <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter the Name of the List">
            </div>
            <button type="submit" class="btn btn-default">Add My List</button>
          </form>
        </div>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="messages">
      <div class="col-lg-6 col-md-6">
        <div class="form-group form-group-lg">
          <label for="disabledSelect">Select The List You Want To Add A To Do Item To</label>
            <select id="disabledSelect" class="form-control">
              <option>Room</option>
              <option>Living Room</option>
              <option>Night Time</option>
            </select>
        </div>
      </div>
    <div class="col-lg-6 col-md-6">
      <form>
        <div class="form-group form-group-lg">
          <label for="exampleInputEmail1">Add Items To The List</label>
          <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter a Task or Chore Here!">
        </div>
        <button type="submit" class="btn btn-default">Add This Item To The List</button>
      </form>
    </div>
  </div>
</div><!-- Ends the Tabs Area -->


<div class="page-header">
        <h1>To Dooz</h1>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">List 1</h3>
            </div>
            <div class="panel-body">
              Item content
            </div>
          </div>
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">List 2</h3>
            </div>
            <div class="panel-body">
              Item Content1
            </div>
            <div class="panel-body">
              Item Content2
            </div>
            <div class="panel-body">
              Item Content3
            </div>
          </div>
        </div><!-- /.col-sm-4 -->
        <div class="col-sm-4">
          <div class="panel panel-success">
            <div class="panel-heading">
              <h3 class="panel-title">Panel title</h3>
            </div>
            <div class="panel-body">
              Panel content
            </div>
          </div>
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Panel title</h3>
            </div>
            <div class="panel-body">
              Panel content
            </div>
          </div>
        </div><!-- /.col-sm-4 -->
        <div class="col-sm-4">
          <div class="panel panel-warning">
            <div class="panel-heading">
              <h3 class="panel-title">Panel title</h3>
            </div>
            <div class="panel-body">
              Panel content
            </div>
          </div>
          <div class="panel panel-danger">
            <div class="panel-heading">
              <h3 class="panel-title">Panel title</h3>
            </div>
            <div class="panel-body">
              Panel content
            </div>
          </div>
        </div><!-- /.col-sm-4 -->
      </div>