<h1>Hi "Kid's Name"</h1>

<div class="row">
  <div class="top-buffer">
    <ul class="nav nav-pills nav-stacked col-md-2">
      <li class="active"><a href="#tab_a" data-toggle="tab">List 1</a></li>
      <li><a href="#tab_b" data-toggle="pill">List 2</a></li>
      <li><a href="#tab_c" data-toggle="pill">List 3</a></li>
      <li><a href="#tab_d" data-toggle="pill">List 4</a></li>
    </ul>
    <div class="tab-content col-md-10">
      <div class="tab-pane active" id="tab_a">
        <h4>List 1</h4>
       <%= image_tag "lion.png" %>
      </div>
      <div class="tab-pane" id="tab_b">
       <h4>List 2</h4>
       <%= image_tag "lion.png" %>
      </div>
      <div class="tab-pane" id="tab_c">
       <h4>List 3</h4>
       <%= image_tag "lion.png" %>
      </div>
      <div class="tab-pane" id="tab_d">
       <h4>List 4</h4>
       <%= image_tag "lion.png" %>
      </div>
    </div>
  </div>
</div>