<% content_for :title do %>About<% end %>
<h3>About the To Do Zoo</h3>
Using the To Do Zoo system help make chores fun for kids and easy for parents. Kids earn points by completing chores that they can turn in for real-life rewards like an hour of video games or ice cream.
<p>
This web application was created with
<%= link_to('Rails Composer', 'http://railsapps.github.io/rails-composer/') %>
from the <%= link_to('RailsApps project', 'http://railsapps.github.io/') %> 
and the minds of Duncan Neal and Derek Dyer.
</p>
