/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

ul {
  text-align: center;
}

.btn-primary, .submit, .authform .button, .button-xs {
  color: #fff;
  text-align: left;
  background-color: #337ab7;
  /* border-color: #2e6da4; */
}

/*
 * Global add-ons
 */
.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  background-color: #d15037;
  border: #7595bf;
  border: 20px;
  color: #fff;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  // display: none;
  background-color: #bce4fb;
  color: #206a99;
}

@media (min-width: 768px) {
  .sidebar {
    background: url(elephant_side_vect.png)  repeat-y;
    background-color: #bce4fb;
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    margin-bottom: 0px;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}  
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 35px;
  padding-top: 45px;  
  margin-top: 37px;
  font-family: "blambot-pro",sans-serif;
  text-decoration: bold;
  font-size: 28pt;
  color: #185074;
  text-decoration: none;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:focus,
.nav-sidebar > .active > a:hover {
  color: #bce4fb;
  background: #206a99;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.nav-sidebar > .active > a:hover {
  background: #206a99;
  opacity: 0.8;
}

/*#bce4fb = light blue*/
/*#206a99 = dark blue*/

/*
 * Main content
 */

@media (min-width: 768px) {
  .main {
    height: 100%;
    font-family: "blambot-pro",sans-serif;
    text-decoration: bold;
    padding-top: 20px;
}
  }

.main .page-header {
  width: 100%;
  background-color: #79b087;
  color: #fff;
  font-family: "blambot-pro",sans-serif;
  text-decoration: bold;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

td {
  text-align: left;
}

/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}
