/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require '_framework_and_overrides'
 *= require '_dashboard'
 *= require_self
 */


// TAKE OUT COVER STYLES FROM HERE, just have all the other stuff

/*
 * Globals
 */

 $white_opaque: rgba(250, 250, 250, .4);


 div.alert.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
  font-family: "blambot-pro",sans-serif;
  font-size: 16pt;
  text-align: center;
  margin-top: 15px;
}

div.alert-danger {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
  font-family: "blambot-pro",sans-serif;
  font-size: 16pt;
  text-align: center;
  margin-top: 15px;
}
/*signup-signin*/
.authform {
  max-width: 400px;
  margin-top: 30px;
  padding: 20px 30px 30px;
  color: #d99f59;
  background-color: #d99f59;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 25px;
     -moz-border-radius: 25px;
          border-radius: 25px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
/*.border-form-div .form-signin-heading,
.border-form-div .checkbox {
  margin-bottom: 10px;
  border-color: #fff;
}*/
div.form-group{
  margin-top: 15px 15px 15px 15px;
  a, a:focus, a:hover {
  color: #d99f59;
  font-size: 16pt;
  font-family: "blambot-pro",sans-serif;
  transition: all .3s ease-in-out;
}
}
div.form-group input {
  font-size: 16px;
  width: 275px;
  color: #206a99;
  height: auto;
  padding: 15px 10px 15px 10px;
}
.authform .button, .button-xs {
  color: #fff;
  text-align: center;
  background-color: #337ab7;
  margin-top: 10px;
}
input.button.center{
  width: 275px;
  height: 34px;
}
textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {   
    border-color: rgba(229, 103, 23, 0.8);
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px rgba(229, 103, 23, 0.6);
    outline: 0 none;
}

/* Links */
a,
a:focus,
a:hover {
  color: #333;
  font-family: "blambot-pro",sans-serif;
  transition: all .3s ease-in-out;
}

.navbar-inverse .navbar-nav > li > a {
  color: #fff;
  padding-bottom: 10px;
}

.navbar-inverse .navbar-brand {
  font-family:  "blambot-pro",sans-serif;
  font-size: 28pt;
  text-align: right;
  color: rgba(250, 250, 250, 0.7);
}


.kid-nav {
  background-color: aquamarine;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/* Field changes*/
.form-group-lg .form-control {
  height: 70px;
  padding: 10px 16px;
  font-size: 35px;
  line-height: 1.3333333;
  border-radius: 17px;
  font-family:  "blambot-pro",sans-serif;
}

/* This was added to make space on the kids place page*/
.top-buffer {
  margin-top: 150px;
}

/* This is to overwrite the style that removes padding around rows */
.row, section {
  margin-left: 0px;
  margin-right: 0px;
}

/* Custom authform */
.todo_authform {
  padding-top: 30px;
  max-width: 320px;
  margin: 0 auto;
}

/* Modal Styles */
.modal .modal-dialog .modal-header {
  background-color: #db9e36;
  .modal-title {
    font: "blambot-pro",sans-serif;
    text-decoration: bold;
    color: #fff;
    font-size: 36px;
    text-align: center;
    padding-bottom: 10px;
  }
}
.modal-content {
  position: relative;
  background-color: #fff;
  font-size: 20px;
  padding:0;
  text-align: left;
  border: 0px; 
  border: 0px solid rgba(0, 0, 0, 0); 
  border-radius: 0px;
  -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0); 
  box-shadow: 0px 0px rgba(0, 0, 0, 0);
  background-clip: padding-box;
  outline: 0;  
}

.modal-footer {
  text-align: right;
  background-color: #db9e36;
  padding-top: 0;
  border-top:0;

  input.btn-default, button.btn.btn-default {
    background: #bf4b32;
    border: solid 1.5px #f2633f;
  }

  input.btn-default, button.btn.btn-default,
  input.btn-primary, button.btn.btn-primary {
    box-sizing: border-box;
    margin-top: 20px;
    padding: 15px 15px;
    text-align: center;
    font: 24px/24px  "blambot-pro",sans-serif;
    text-decoration: bold;
    color: #fddea5;
    border-radius: 10px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
}

/*
 * Base structure
 */
 body {
  height: 100%;
  background-color: #FEFBEF;
  font-family: inherit;
  font-size: 25px;
  /* padding-top: 40px; */
}
body {
  //color: #fff;
  text-align: center;
  font-family: inherit;
  
}

h1, {
  text-align: center;
  font-family: "blambot-pro",sans-serif;
  font-size: 48px;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  /*-webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
  box-shadow: inset 0 0 100px rgba(0,0,0,.5);*/
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}

/*
 * Header
 */

.navbar-inverse .navbar-nav > li > a {
  color: #fff;
  padding:20px 25px 10px 20px;
}
.navbar-inverse .navbar-brand {
  font-family:  "blambot-pro",sans-serif;
  font-size: 28pt;
  text-align: right;
  color: rgba(250, 250, 250, 0.7);
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li > a {
  padding-right: 0px;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.75);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

div.side.image {
  padding: 10px 10px 10px 10px;
  opacity: 0.5;
  width: 170px;
  height: 60px;
  display: inline-block;
}

div.sidebar-image{
  opacity: .5;

}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
    padding-top: 25px;
  }
}

/*
 * Cover
 */
 .cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}

/*
 * Footer
 */

 .mastfoot {
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.5);
  font-family: "blambot-pro",sans-serif;
  background-color: #999;
  background-color: rgba(153, 153, 153, .5);
  width: 100%;
  height: 25px;
}

.mastfoot p {
  margin-bottom: 0;
  line-height: 25px;
}


/*
 * Affix and center
 */

 @media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .cover-container {
    width: 200%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .cover-container {
    width: 700px;
  }
}

/*Buttons*/

.btn-primary  {
  color: #74b8e2;
  background: #206a99;
}
