/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require '_framework_and_overrides'
 *= require_self
 */


// TAKE OUT DASHBOARD STYLES FROM HERE, just have cover stuff

/*
 * Globals
 */

 $white_opaque: rgba(250, 250, 250, .3);

div {
  font-family: "Gill sans", Tahoma, Sans-serif;
}

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
  transition: all .4s ease-in-out;
}

// Video Background
video { 
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background: url('https://s3.amazonaws.com/todozooresources/HomePage/Playground.png') no-repeat;
  background-size: cover;
  transition: 1s opacity;
}

// This styles the stuff in the center of the home page
.row_cover {
 
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/* Field changes */
.form-group-lg .form-control {
  height: 55px;
  padding: 2px 3px;
  padding-left: 8px;
  font-size: 28px;
  line-height: 1.3333333;
  border-radius: 5px;
  font-family: "Gill sans", Tahoma, Sans-serif;
  text-align: left;
  background: rgba(250,250,250,.9);
}
/* Placeholder in fields */
.form-control::-webkit-input-placeholder {
  font-size: 25px;
  padding: 2px 3px;
  color: #332620;
  opacity: 0.2;
  text-align: center;
  transition: all .4s ease-in-out;
}

/* This was added to make space on the kids place page*/
.top-buffer {
  margin-top: 150px;
}

/* This is to overwrite the style that removes padding around rows */
.row, section {
  margin-left: 0px;
  margin-right: 0px;
}

/* Custom authform */
.todo_authform {
  //padding-top: 30px;
  max-width: 400px;
  margin: 0 auto;
}

// Changes color of input fields
textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {   
    border-color: rgba(229, 103, 23, 0.8);
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px rgba(229, 103, 23, 0.6);
    outline: 0 none;
}
// makes button 100% wide
input[type="submit"] {
  cursor: pointer;
  width: 100%;
  font-size: 30px;
  margin-top: 6px;
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  /*padding-top: 40px;*/
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}
.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 36px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 30px;
  font: "GillSans-UltraBold", Helvetica, Arial, sans-serif;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #f2623e;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  text-align: left;
  padding: 0 20px;
  padding-top: 8em;
}

.cover .btn-lg {
  padding: 10px 20px;
}

.btn-primary,{
  box-sizing: border-box;
  margin-top: 28px;
  padding: 15px 0;
  text-align: center;
  font: 24px/24px "GillSansW01-ExtraBold", Helvetica, Arial, sans-serif;
  text-decoration: extrabold;
  color: #597B99;
  background: #6F9ABF;
  border: solid 1.5px #39523F;
  border-radius: 10px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
  



/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 900px;
  }
}