// import the CSS framework
@import "bootstrap-sprockets";
@import "bootstrap";

$light-yellow: rgb(255, 255, 204);
$container-padding: 50px;

body {
  background-color: #8ac99a;
  font-family: "blambot-pro",sans-serif;
}

li {
  padding-left: 60px;
}
/*Kids table*/
table {
  background-color: transparent;
  font-size: 18pt;
  width: 100%;

  tr.complete {
    opacity: 0.25;
    text-decoration: line-through;
  }
}
tbody{
  background-color: #bce3c6;
  margin-top: 10px;
}
div.head_logo, {
  padding: 20px 20px 15px 10px;
  opacity: 0.5;
  float: right;
  display: inline-block;
 }

  .header-row {
    background-color: #74b8e2;
  }

  .header-row .user {

  }

/*img {
  width: 120px;
  margin: 20px;
  }*/

  .clip-circle {
    -webkit-clip-path: circle(60px at center);
    clip-path: circle(60px at center);
  }

  .header-row .user .icon {
    margin: 0;
    padding: 0;
    border-radius: 50%;
    border: 15px solid #74b8e2;
    width: 150px;
    height: 150px;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }


  .nav {
    padding-left: 30px;
    position: relative;
    display: inline-block;
    top: 15px;
  }

  .nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .nav li {
    display: inline;
    margin-left: 25px;
  }

  .main-container {
    padding: $container-padding;
  }

  .page-heading {
    margin-bottom: 50px;
  }

  .chores-description-container {
    p {
      color: $light-yellow;
      font-size: 1.5em;
      padding: 0 0 0 50px;
      border-left: 1px solid rgba(255, 255, 204, 0.5);
    }
  }

  /*.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here 
    height: 85px;
    background-color: #D99F59;
  }*/

  .list {
    // border: 5px solid #db9e36;
    padding: 10px 0 10px 10px;

    &.current {
      background-color: #d99f59;

      a {
        color: #bce3c6;  
      }
    }

    img { 
      float: left;
    }

    h3 { 
      line-height: 50px;
      margin: 0 0 0 60px;
    }
  }
  label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-size: 12pt;
  color: #105b63;
  font-weight: bold;
}
td, th {
  padding: 10px;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  border : solid 2px #d15137;
  border-radius: 20px 3px 20px 4px;
  moz-border-radius: 20px 3px 20px 4px;
  font-size : 16px;
  color : #ffffff;
  padding : 5px 15px;
  background-color : #f2633f;
}

body {
  background:
    url(vector_panel_tall.png) top right repeat-y;
    background-color: #8ac99a;
}

/* 
  Modal Styles 
  */
  .modal .modal-dialog .modal-header {
    background-color: #db9e36;
    .modal-title {
      font: "blambot-pro",sans-serif;
      text-decoration: bold;
      color: #fff;
      font-size: 36px;
      text-align: center;
      padding-bottom: 10px;
    }
  }
  .modal-image {
    padding-left: 30px;
  }
  .modal-content {
    position: relative;
    background-color: #fff;
    font-size: 20px;
    padding:0;
    text-align: left;
    background-clip: padding-box;
    outline: 0;
    box-shadow: none;
    border: none;
    border-radius: 0;
  }

  .modal-footer {
    text-align: right;
    background-color: #db9e36;
    padding-top: 0;
    border-top:0;

    input.btn-default, button.btn.btn-default {
      background: #bf4b32;
      color: #fddea5;
      border: solid 1.5px #f2633f;
      box-sizing: border-box;
      margin-top: 20px;
      padding: 15px 15px;
      text-align: center;
      font: 24px/24px  "blambot-pro",sans-serif;
      text-decoration: bold;
      border-radius: 10px;
    }
 
    input.btn-primary, button.btn.btn-primary, :hover {
      box-sizing: border-box;
      margin-top: 20px;
      padding: 15px 15px;
      text-align: center;
      font: 24px/24px  "blambot-pro",sans-serif;
      text-decoration: bold;
      color: #fddea5;
      border-color: #74b8e2;
      background: #206a99;
      border-radius: 10px;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
    }
  }
    
