// import the CSS framework
@import "bootstrap-sprockets";
@import "bootstrap";

$light-yellow: rgb(255, 255, 204);
$container-padding: 50px;

body {
  background-color: #8ac99a;
}

/*.logo {
  position: relative;
  display: inline-block;
  margin-top: 10px;
  margin-left: 35px;
}*/

.header-row .user {

}

.header-row .user .icon {
  margin: 0;
  padding: 0;
  border-radius: 50%;
  border: 10px solid #D99F59;
  width: 150px;
  height: 150px;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}


.nav {
  padding-left: 30px;
  position: relative;
  display: inline-block;
  top: 15px;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav li {
  display: inline;
  margin-left: 25px;
}

.header-row {
  background-color: #74b8e2;
  padding: 10px 0 30px 0;
}



.main-container {
  padding: $container-padding;
}

.page-heading {
  margin-bottom: 50px;
}

.chores-description-container {
  p {
    color: $light-yellow;
    font-size: 1.5em;
    padding: 0 0 0 50px;
    border-left: 1px solid rgba(255, 255, 204, 0.5);
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 85px;
  background-color: #D99F59;
}
